[submodule "quotes-service"]
	path = quotes-service
	url = https://github.com/riddopic/quotes-service.git
[submodule "accounts-service"]
	path = accounts-service
	url = https://github.com/riddopic/accounts-service.git
[submodule "portfolio-service"]
	path = portfolio-service
	url = https://github.com/riddopic/portfolio-service.git
[submodule "web-ui"]
	path = web-ui
	url = https://github.com/riddopic/web-ui.git
